body header .header-menu ul.fix-logo li:last-child {
    float: left;
}

body header .header-menu ul.fix-menu li:last-child {
    float: inherit;
}

body header .header-menu ul.fix-menu li:first-child a:after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s all;
}

body header .header-menu ul.fix-menu li:first-child {
    background: none;
    padding-right: 15px;
}

body header .header-menu ul.fix-search li:last-child {
    float: right;
}

body header .header-menu ul.fix-menu li.current-menu-item a {
    color: #fff;
}

body header .header-menu ul.fix-menu li.current-menu-item a:after {
    width: 100%;
}

.header-menu .container {
    position: relative;
}

ul.list-inline-fix.fix-search {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
}

ul.list-inline-fix.fix-search li {
    background: none;
}

body header .header-menu ul.fix-search li:first-child {
    background: none;
    padding-right: 0;
    clip-path: none;
}

body header .header-menu ul li .form-seaarch.show-box {
    z-index: 999;
    visibility: visible;
    opacity: 1;
}

img.img-fluid.class-w {
    filter: brightness(0) invert(1) !important;
}

body main section#news-cate .pagination a {
    display: inline-block;
}

body main section#news-cate .pagination span {
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    background: #249578;
    border-radius: 50%;
    color: #fff;
    transition: .3s all;
}

body main section#detail-new .content .left .details .right-detail h2 {
    display: block;
    font-size: 24px;
    font-style: normal;
}

img.aligncenter {
    margin: 10px auto;
    display: block;
}